# Google Sheets
GOOGLE_SHEET_ID=your_sheet_id_here
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_KEY=-----BEGIN RSA PRIVATE KEY-----\nABCD...\n-----END RSA PRIVATE KEY-----

# WhatsApp
WHATSAPP_NUMBER=3317042020
